*{
    justify-content: center;
    box-sizing: border-box;
}

/*linha horizontal 1 vermelho*/
.horizontal1 ul{
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
}

.q1{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid black;   
}

.q2{
    display: block;
    width: 200px;
    height: 200px;   
    background-color: red;  
    border: 1px solid white;   
    border-left: 1px solid black;
}

.q5{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;  
    border-right: 1px solid black;
}

.q6{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid black;   
}

/*começa a linha 2, vermelho e azul*/
.horizontal2 ul{
    display: inline-flex;
    width: 100%;
    margin-top: -17px;
}
/* */
.q7{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;
    border-top: 1px solid black;
}

.q8{
    display: block;
    width: 200px;
    height: 200px;   
    background-color:  rgb(106, 106, 206);  
    border: 1px solid white;   
}

.q12{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;   
    border-top: 1px solid black;
}

/*começa a linha 3, vermelho e verde*/
.horizontal3 ul{
    display: inline-flex;
    width: 100%;
    margin-top: -17px;
}

.q13{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;   
}

.q14{
    display: block;
    width: 200px;
    height: 200px;   
    background-color: green;  
    border: 1px solid white;   
}

.q18{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;   
}

/*começa a linha 4, vermelho e amarelo*/
.horizontal4 ul{
    display: inline-flex;
    width: 100%;
    margin-top: -17px;
}

.q19{
    display: block;
    width: 200px;
    height: 200px;   
    background-color: red;  
    border: 1px solid white;   
}

.q20{
    display: block;
    width: 200px;
    height: 200px;   
    background-color:  rgb(239, 212, 63);  
    border: 1px solid white;   
}

.q24{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;   
}


/*começa a linha 5, vermelho */
.horizontal5 ul{
    display: inline-flex;
    width: 100%;
    margin-top: -17px;
}

.q25{
    display: block;
    width: 200px;
    height: 200px;   
    background-color: red;  
    border: 1px solid black;  
   
}

.q26{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid white;   
    border-left: 1px solid black; 
}

.q29{
    display: block;
    width: 200px;
    height: 200px;    
    background-color: red;  
    border: 1px solid white;  
    border-right: 1px solid black; 

}

.q30{
    display: block;
    width: 200px;
    height: 200px;  
    background-color: red;  
    border: 1px solid black;   
}
